.doc-info {
    .card {
        border: none;
        border-bottom: 1px solid green;
        border-radius: 0;
    }
    .list-group-item {
        border: none;
        border-bottom: 1px solid green;
        border-radius: 0;
    }
    .half {
        width: 50%;
    }
    a {
        background-color: green;
        color: white;
        font-size: 20px;
    }
}
