@import 'vars';


#navbar {
    background-color: $main_color;
    padding: 0;
}
#navbar a {
    text-decoration: none;
    padding: 21px 20px;
    margin: 0;
    color: black;
    &:hover{
        background-color: $main_color_hover;
    }
}